<script lang="ts" setup>
	// @ts-ignore
	import GoogleForm from "@/Components/GoogleForm.vue";
</script>

<template>
	<GoogleForm />

	<div class="mt-10">
		<a :href="route('table.index')" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Таблица с ссылками</a>
	</div>
</template>