<script lang="ts" setup>
	// @ts-ignore
	const props = defineProps<{
		google_sheets: Array<object>
	}>();
</script>
<template>
	<div class="relative overflow-x-auto">
		<table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
			<thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
			<tr>
				<th scope="col" class="px-6 py-3">
					Id
				</th>
				<th scope="col" class="px-6 py-3">
					Link
				</th>
			</tr>
			</thead>
			<tbody>
			<template v-for="(item,index) in google_sheets" :key="index">
				<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
					<td class="px-6 py-4">
						{{ item.id }}
					</td>
					<td class="px-6 py-4">
						<a :href="item.link">{{ item.link }}</a>
					</td>
				</tr>
			</template>
			</tbody>
		</table>
	</div>

</template>