<script lang="ts" setup>
	import { useForm } from "@inertiajs/vue3";
	import { ref } from "vue";

	const form = useForm({
		first_name: null,
		last_name: null,
		phone: null,
		text: null
	});

	const isDisabled = ref(false);

	const submit = () => {
		isDisabled.value = true;
		// @ts-ignore
		form.post(route('google-sheets.store'), {
			onFinish: () => {
				isDisabled.value = false;
			},
			onSuccess: () => {
				form.reset('first_name');
				form.reset('last_name');
				form.reset('phone');
				form.reset('text');
			},
			onError: (res) => {
				console.log(res)
			}
		});
	}

</script>
<template>
	<form class="w-full max-w-lg" @submit.prevent.stop="submit">
		<div class="flex flex-wrap -mx-3 mb-6">
			<div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
				<label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
					Имя
				</label>
				<input class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
							 id="grid-first-name"
							 v-model.trim="form.first_name"
							 type="text"
							 placeholder="Имя">
			</div>
			<div class="w-full md:w-1/2 px-3">
				<label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
					Фамилия
				</label>
				<input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
							 id="grid-last-name"
							 v-model.trim="form.last_name"
							 type="text"
							 placeholder="Фамилия">
			</div>
		</div>
		<div class="flex flex-wrap -mx-3 mb-6">
			<div class="w-full px-3">
				<label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-phone">
					Телефон
				</label>
				<input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
							 id="grid-phone"
							 v-model.trim="form.phone"
							 type="text"
							 placeholder="Телефон">
			</div>
		</div>
		<div class="flex flex-wrap -mx-3 mb-6">
			<div class="w-full px-3">
				<label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-text">
					Текст заявки
				</label>
				<textarea class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
									id="grid-text"
									v-model.trim="form.text"
									type="text">
				</textarea>
			</div>
		</div>
		<button type="submit" :disabled="isDisabled" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none">Отправить заявку</button>
	</form>
</template>